{{#foreach posts}}
<article class="list-post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="list-header">
        <a href="{{url}}"><title class="list-post-title h3" itemprop="headline">{{title}}</title></a>
        <p class="list">
            <time class="list-time" itemprop="datePublished" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="MMMM DD, YYYY"}}</time>
        </p>
    </header>
    <p>{{excerpt}}</p>
</article>
{{/foreach}}

{{pagination}}