{{#foreach posts}}
<article class="post {{post_class}} h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <div class="title-non-overlay"><a href="{{url}}"><title class="post-title h1 p-name" itemprop="headline">{{title}}</title></a></div>
        <p class="non-overlay"> 
            <time class="time dt-published" itemprop="datePublished" datetime="{{date format="YYYY-MM-DD h:mm:ss"}}">
            {{date format="MMMM Do, YYYY, h:mm:ss a"}}</time> | <a class="p-author h-card" href="https://john.ly">Johnathan Lyman</a> | <a href="{{url}}" class="u-url">Permalink <i class="far fa-external-link"></i></a>
        </p>
    </header>
    <div class="e-content">
        {{content}}
    </div>
    
</article>
{{/foreach}}

{{pagination}}