{{#foreach posts}}
<article class="post {{post_class}}" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <div class="title-non-overlay"><a href="{{url}}"><title class="post-title h1" itemprop="headline">{{title}}</title></a></div>
        <p class="non-overlay"> 
            <time class="time" itemprop="datePublished" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="MMMM DD, YYYY"}}</time>
        </p>
    </header>
    {{content}}
</article>
{{/foreach}}

{{pagination}}