<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
    </style>
    <noscript>
        <link rel="stylesheet" href="{{asset "css/kube.min.css"}}" />
        <link rel="stylesheet" href="{{asset "css/screen.css"}}" />
        <link rel="stylesheet" href="{{asset "css/fonts.css"}}" />
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,500|Source+Serif+Pro:400,700|Source+Code+Pro:300|Teko" rel="stylesheet">
    </noscript>

    <script defer src="{{asset "/js/fa/fontawesome.min.js"}}"></script>
    <script defer src="{{asset "/js/fa/packs/regular.min.js"}}"></script>

    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <div class="container">
        <div class="heading">
            <progress id="progressbar" value="0" max="100"></progress>
            <div class="heading-wrapper">
                <h1 class="site-title"><a href="/">{{@blog.title}}</a></h1>
                {{navigation}}
            </div>
        </div>
        <div class="list-content">
            {{{body}}}                
        </div>
        <div class="footer">
            <p>&copy; 2014-{{date format="YYYY"}} | 
                Johnathan Lyman | 
                All rights reserved. | 
                Powered by Axioms of Internet Juice.
            </p>
        </div>
    </div>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script src="{{asset "/js/jquery.min.js"}}"></script>
    <script src="{{asset "/js/jquery.fitvids.js"}}"></script>
    <script src="{{asset "/js/kube.min.js"}}"></script>
    <script src="{{asset "/js/site.js"}}"></script>
    <script>
    document.addEventListener( 'DOMContentLoaded', loadFiles, false );

    function loadCSS( href, before, media ){
    "use strict";
    var ss = window.document.createElement( "link" );
    var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
    ss.rel = "stylesheet";
    ss.href = href;
    ss.media = "only x";
    ref.parentNode.insertBefore( ss, ref );
    setTimeout( function(){
        ss.media = media || "all";
    } );
    return ss;
    }

    function loadFiles() {
        loadCSS('{{asset "css/kube.min.css"}}');
        loadCSS('{{asset "css/screen.css"}}');
        loadCSS('{{asset "css/fonts.css"}}');
        loadCSS('https://fonts.googleapis.com/css?family=Fira+Sans:300,500|Source+Serif+Pro:400,700|Source+Code+Pro:300|Teko');
    }
    </script>

    <div style="display: none"><address id="hcard-Johnathan-Lyman" class="vcard">
  <img style="float:left; margin-right:15px; margin-bottom:35px;" src="https://www.gravatar.com/avatar/00000000000000000000000000000000?s=256" alt="photo of " class="photo img-circle" height="128px" width="128px"/>
 <a class="url lead fn" href="https://john.ly">Johnathan Lyman</a>
 <div class="adr">
  <span class="locality"><small>Kenmore</small></span>,

  <span class="region"><small>WA</small></span>,

  <div class="country-name"><small>United States</small></div>

 </div>
 <a class="email" href="mailto:me@john.ly"><i class="fa fa-fw fa-envelope-o"></i>&nbsp;me@john.ly</a>&nbsp;
<div><span class="category">blogging</span>, <span class="category">design</span>, <span class="category">technology</span>, <span class="category">software</span>, <span class="category">development</span>, <span class="category">gaming</span>, <span class="category">photography</span></div>
</address></div>
</body>
</html>