{{!< default}}

{{#post}}
<article class="post {{post_class}}" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        {{#if feature_image}}
        <div class="header-image">
            <img src="https://images.unsplash.com/photo-1483203257148-66ee23170d09?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=dd9aac080f1c56e42e8a870dec46dec9" /> 
        </div>
        <div class="title-overlay"><title class="post-title h1" itemprop="headline">{{title}}</title></div>
        <p>
            <time class="time" itemprop="datePublished" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="MMMM DD, YYYY"}}</time>
        </p>
        {{else}}
        <div class="title-non-overlay"><title class="post-title h1" itemprop="headline">{{title}}</title></div>
        <p class="non-overlay"> 
            <time class="time" itemprop="datePublished" datetime="{{date format="YYYY-MM-DD"}}">
            {{date format="MMMM DD, YYYY"}}</time>
        </p>
        {{/if}}
    </header>
    {{content}}
</article>
{{/post}}